.bg-image {
	@apply bg-cover bg-center flex-no-shrink flex;
}

.animate, a, button {
	transition-duration: 250ms;
	transition-property: background-color border-color box-shadow color;
}

.flex-grow-all {
	flex-grow: 9 !important;
}
